[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-mptt = "*"
django-mptt-admin = "*"
bs4 = "*"
aiohttp = "*"
lxml = "*"
celery = "*"
redis = "*"
pytelegrambotapi = "*"

[dev-packages]

[requires]
python_version = "3.10"
