{% extends 'core/base.html' %}

{% block content %}
    			<table class="table">
						<thead>
							<tr>
								<th>
									#
								</th>
								<th>
									Дата
								</th>
                                <th>
                                    Дата окончания
                                </th>
								<th>
									Категория
								</th>
								<th>
									Наименование
								</th>
								<th>
									Изображение
								</th>
							</tr>
						</thead>
                        {% now "d-m-Y" as current_date %}
						<tbody>
                        {% for coin in coins %}
							<tr>
								<td>
                                </td>
								<td>
                                    {{ coin.coin.time_create|date:"d-m-Y H:i:s" }}
								</td>
								<td>
                                    {% if coin.coin.time_end %}
                                        {{ coin.coin.time_end|date:"d-m-Y" }}
                                    {% endif %}
								</td>
								<td>
                                    {{ coin.coin.category }}
								</td>
								<td>
                                    {% if current_date == coin.coin.time_end|date:"d-m-Y" %}
                                        <div class="text-danger">{{ coin.coin.title }}</div>
                                    {% else %}
                                        {{ coin.coin.title }}
                                    {% endif %}
								</td>
								<td>
                                    <a href="{{ coin.coin.url }}"><img src="{{ coin.coin.image }}" height="100"></a>
								</td>
							</tr>
                        {% endfor %}
						</tbody>
					</table>
    {% include 'core/paginate.html' %}
{% endblock %}

{% block left_menu %}

{% endblock %}
