{% extends 'core/base.html' %}

{% block main_menu %}
{% endblock %}

{% block main_content %}
    <div class="col-md-12">
        <br><br>
        <br><br>
    <div class="row justify-content-center align-items-center">
        <h3>{{ title }}</h3>
    <br><br>
    <form method="post">
        {% csrf_token %}
        <div class="text-danger">{{ form.non_field_errors }}</div>
        {% for f in form %}
            <div class="form-group row">
                <label class="col-md-4 col-form-label form-control-label text-muted" for="{{ f.id_for_label }}">{{ f.label }}</label>
                <div class="col-lg-8">{{ f }}</div>
                <div class="text-danger">{{ f.errors }}</div>
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-success">Войти</button>
    </form>
    </div>
    </div>
{% endblock %}
